@import "tailwindcss";

:root {
  --background: #F5F0E6;   
  --foreground: #5C4033; 
  --secondary-background: #EAE2D7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair-display), serif;
}