@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'ARP';
  src: url('/fonts/ARP-20.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'ARP';
  src: url('/fonts/ARP-40.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'ARP';
  src: url('/fonts/ARP-80.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'ARP';
  src: url('/fonts/ARP-150.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'ARP';
  src: url('/fonts//ARP-240.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'ARPDisplay';
  src: url('/fonts/ARPDisplay-20.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'ARPDisplay';
  src: url('/fonts/ARPDisplay-40.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'ARPDisplay';
  src: url('/fonts/ARPDisplay-80.ttf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'ARPDisplay';
  src: url('/fonts/ARPDisplay-150.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'ARPDisplay';
  src: url('/fonts/ARPDisplay-240.ttf') format('truetype');
  font-weight: 900;
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
